@charset "utf-8";
@import  "_var", "_mixin", "_funcion";
@font-face {
  font-family: optima;
  font-style: normal;
  font-weight: 300;
  src:
      url("../fonts/OptimaNovaLTProLight.otf") format("opentype");
}
@font-face {
  font-family: optima;
  font-style: normal;
  font-weight: 400;
  src:
      url("../fonts/OptimaNovaLTProRegular.otf") format("opentype");
}
@font-face {
  font-family: optima;
  font-style: normal;
  font-weight: 500;
  src:
      url("../fonts/OptimaNovaLTProMedium.otf") format("opentype");
}
@font-face {
  font-family: optima;
  font-style: normal;
  font-weight: 700;
  src:
      url("../fonts/OptimaNovaLTProBold.otf") format("opentype");
}
@font-face {
  font-family: spoqa;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/SpoqaHanSansNeo-Light.eot");
  src: local("Noto Sans KR"),
     url("../fonts/SpoqaHanSansNeo-Light.eot?#iefix") format("embedded-opentype"),
     url("../fonts/SpoqaHanSansNeo-Light.woff2") format("woff2"),
     url("../fonts/SpoqaHanSansNeo-Light.woff") format("woff"),
     url("../fonts/SpoqaHanSansNeo-Light.otf") format("opentype");
}
@font-face {
  font-family: spoqa;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SpoqaHanSansNeo-Regular.eot");
  src: local("Noto Sans KR"),
     url("../fonts/SpoqaHanSansNeo-Regular.eot?#iefix") format("embedded-opentype"),
     url("../fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2"),
     url("../fonts/SpoqaHanSansNeo-Regular.woff") format("woff"),
     url("../fonts/SpoqaHanSansNeo-Regular.otf") format("opentype");
}
@font-face {
  font-family: spoqa;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/SpoqaHanSansNeo-Medium.eot");
  src: local("Noto Sans KR"),
     url("../fonts/SpoqaHanSansNeo-Medium.eot?#iefix") format("embedded-opentype"),
     url("../fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2"),
     url("../fonts/SpoqaHanSansNeo-Medium.woff") format("woff"),
     url("../fonts/SpoqaHanSansNeo-Medium.otf") format("opentype");
}
@font-face {
  font-family: spoqa;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SpoqaHanSansNeo-Bold.eot");
  src: local("Noto Sans KR"),
     url("../fonts/SpoqaHanSansNeo-Bold.eot?#iefix") format("embedded-opentype"),
     url("../fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2"),
     url("../fonts/SpoqaHanSansNeo-Bold.woff") format("woff"),
     url("../fonts/SpoqaHanSansNeo-Bold.otf") format("opentype");
}

//tag reset
body, h1, h2, h3, h4, h5, h6, p, ul, button, figure{margin: 0;padding: 0;}
h1, h2, h3, h4, h5, h6{font-size: 100%;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none;color: inherit;}
img{vertical-align: top;}
button{border: none;background: none;cursor: pointer;}
input[type="text"]{border: 1px solid #aaa;border-radius: 0;}
button, input{font-family: inherit;font-size: inherit;color: inherit;}
header, nav, section, footer{display: block;}
.blind{width: 1px;height: 1px;overflow: hidden;border: none;position: absolute;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
*{box-sizing: border-box;}
body{font-family: spoqa;}

//common class
.txt_wrap{
  padding-left: 200px;
  h2{font-family: optima;font-size: 50px;color: $Rbrwn;}
  p{font-family: spoqa;}
}
#cnt1, #cnt2, #cnt3, #cnt4{padding-top: 150px;}

/* #loading{
    @include flex;
    @include justify-content;
    @include align-items;
    height: 100vh;
    svg{position: absolute;top: 30%;left: 15%;z-index: -1;}
    h1{font-family: "optima";font-size: 150px;color: $blue;text-align: center;}
} */

#header{
    @include flex;
    @include justify-content(space-between);
    position: fixed;width: 100%;padding: 50px;z-index: 100;
}
#cnt1{
    height: 100vh;width: 100%;position: relative;
    .bg_img{
        margin-left: 550px;
        background: url(../images/cnt1/cnt1_image.png) no-repeat;width: 555px;height: 673px;
    }
    .txt{
        position: absolute;font-family: optima;font-size: 100px;text-transform: uppercase;animation: txtAni 5s ease infinite;
    }
    .txt:nth-of-type(2){top: 200px;left: 230px;color: $Rbrwn;animation-delay: 0.6s;}
    .txt:nth-of-type(3){bottom: 100px;right: 300px;color: $blue;animation-delay: 1.5s;}
        @keyframes txtAni {
            0% {
              transform: translateY(-50px);
              opacity: 0;
              clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
          }
          50% {
              transform: translateY(0);
              opacity: 1;
              clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
          }
          100% {
            transform: translateY(50px);
            opacity: 0;
           clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
          }
        }
        

    .deco1{background: url(../images/cnt1/shape2.png);width: 105px;height: 105px;}
    .deco2{background: url(../images/cnt1/shape1.png);width: 129px;height: 129px;}
    .deco3{background: url(../images/cnt1/design1.png);width: 128px;height: 108px;}
    .deco4{background: url(../images/cnt1/design2.png);width: 86px;height: 86px;}
    .deco1, .deco2, .deco3, .deco4{position: absolute;}
    .deco1{bottom: 400px;left: 400px;}
    .deco2{bottom: 300px;left: 230px;}
    .deco3{top: 80px;right: 650px;}
    .deco4{bottom: 200px;right: 220px;}


}

#cnt2{
  position: relative;overflow: hidden;
  #cnt2_bg{
    position: relative;width: 100%;height: 650px;background-color: #F2F5F5;
    &::after{
      content:"";position: absolute;top: -120px;left: 0;background: url(../images/cnt2/wave.jpg) repeat-x;width: 200%;height: 120px;animation: wave 5s ease infinite;
    }
  }
  @keyframes wave {
    0%{transform: translateX(0%)}
    100%{transform: translateX(-50%)}
  }
  .introduce{
    position: relative;margin: 50px 0 0 700px;
    strong{font-family: optima;font-size: 40px;color: $blue;font-weight: 400;}
    p{
      color: $gray;font-size: 20px;line-height: 2;
      span{font-weight: 700;}
    }
    &::after{
    content:"";position: absolute;top: -100px;left: 40%;background: url(../images/cnt2/cnt2_pic.jpg) no-repeat 50% 50% / cover;width: 400px;height: 500px;opacity: 0;
    }
    &:hover::after{opacity: 1;}
  }
  
}

#cnt3{
  position: relative;height: 200vh;
  .accordion{
    position: absolute;top: 15%;right: 50px;width: 1230px;color: $beige;
    .title{
      height: 150px;
      div{margin: 30px 0 0 50px;}
      span{
        font-size: 40px;border: 2px solid $beige;padding: 0 27px;
      }
     &:nth-of-type(1){
       background-color: $pink;color: $brwn;
       span{border-color: $brwn;}
      }
     &:nth-of-type(2){background-color: $blue;}
     &:nth-of-type(3){
       background-color: $beige;
       span{border-color: $blue;color: $blue;}
     }
     &:nth-of-type(4){background-color: $Rbrwn;}
     &:nth-of-type(5){background-color: $brwn;}
     .bdline{
       background: $beige;height: 2px;width: 90%;display: inline-block;
      }
    }
    .panel{
      @include flex;
      @include justify-content(space-around);
      @include align-items;
      visibility: hidden;overflow: hidden;max-height: 0;margin: 0 auto;height: 400px;
      &.on{
        visibility: visible;max-height: 500px;
      }
      &:nth-of-type(1){background-color: $pink;color: $brwn;}
      &:nth-of-type(2){background-color: $blue;}
      &:nth-of-type(3){background-color: $beige;}
      &:nth-of-type(4){background-color: $Rbrwn;}
      &:nth-of-type(5){background-color: $brwn;}
      .wrap{
        width: 500px;height: 300px;background: #fff;border: 1px solid $beige;
      }
      .about{
        text-align: center;
        strong{font-size: 30px;}
        p{font-size: 20px;margin-top: 20px;}
      }
    }
  }
}