@charset "utf-8";
@import  "_var", "_mixin", "_funcion";

.bg{
    position: relative;overflow: hidden;
   .cover{background: url(../images/sulwhasoo/main.png) 50% 50% / cover;width: 1920px;height: 700px; transition: all 0.8s cubic-bezier(0.3, 0.1, 0.1, 1);} 
   .txt{
       @include translate-50;
       position: absolute;top: 50%;left: 50%;
       font-size: 120px;font-weight: 700;font-family: optima;  -webkit-text-stroke: 1px $Rbrwn;  -webkit-text-fill-color:transparent; transition: all 0.8s cubic-bezier(0.3, 0.1, 0.1, 1);
    }
    a:hover .txt, a:focus .txt{-webkit-text-fill-color: $Rbrwn;font-size: 110px;}
    a:hover .cover{transform: scale(1.1);}
}
h3{color: $Rbrwn;font-family: optima;font-size: 40px;width: 20%;margin-left: 50px;}
.sticky{position: sticky;top: 90px;}

.pro_intro{
    border: 1px solid #000;margin: 100px;
    h2{color: $blue;font-family: optima;font-size: 50px;padding-bottom: 10px;}
    p{padding-top: 5px;}
}
.wirframe{
    height: 100vh;
    img{float: right;width: 80%;}
}

.design{
    .wrap{
        @include flex;
        @include justify-content;
        @include align-items;
    }
    .color_wrap{
        .color{
            height: 50px;width: 50px;border-radius:50%;
        }
        #color1{background: #F57E3C;}
        #color2{background: #FCB95E;}
        #color3{background: #FCF8F1;}
        #color4{background: #3B3B3B;}
        #color5{background: url(../images/sulwhasoo/pattern.png);}
     
    }
    .txt_type{
        p:first-child{font-family: optima;font-size: 20px;}
        p:last-child{font-family: spoqa;font-size: 20px;}
    }
}
